// Imports
@import "font-awesome-sprockets";
@import "font-awesome";

// Main
body {
  font-family: 'Roboto';
  text-align: center;
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 300;
  margin-top: 20px;
}

.special-word {
  color: #169498;
}

// Banner
.banner-content {
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}

.button-blue {
  color: #169498;
  border: solid 3px #169498;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 700;
  transition-duration: 0.4s;
}

.button-blue:hover {
  background-color: #169498;
  text-decoration: none;
  color: white;
}

// Title
.title {
  margin-top: 100px;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}

.title::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 3px solid #169498;
}

// Contact
.email {
  color: #169498;
  font-size: 18px;
}

.email:hover {
  text-decoration: none;
  color: #169498;
}

// Footer
.footer {
  margin-top: 60px;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .fab {
  font-size: 40px;
  color: #202429;
  margin: 0px 20px;
}

/*Small devices*/
@media (max-width: 768px) {
  h1, h2 {
    font-size: 48px;
  }
  h4 {
    font-size: 20px;
  }
  .button-blue {
    background-color: #169498;
    color: white;
  }
}


