<div class="banner-content">
  <div class="title">
    <h1>Hi, I'm Mathias</h1>
    <h1>Web Developer</h1>
    <h4>I create modern and responsive Web Applications.</h4>
  </div>
  <a class="button-blue" href="mailto:math.thibaud@gmail.com">CONTACT</a>
</div>

<div class="work">
  <h2 class="title">Work</h2>
</div>

<div class="contact">
  <h2 class="title">Contact</h2>
</div>
