<div class="banner-content">
  <div>
    <h1>Hi, I'm <span class="special-word">Mathias</span></h1>
    <h1>Web Developer</h1>
    <h4>I create modern and responsive Web Applications.</h4>
  </div>
  <a class="button-blue" href="mailto:math.thibaud@gmail.com" target="_blank"><i class="fas fa-envelope pr-2"></i>MESSAGE ME</a>
</div>

<div class="work">
  <h2 class="title">Work</h2>
  <div class="project-cards">
    <% @projects.each do |project| %>
      <div class="project-card">
        <%= image_tag project.image_url, :class => "project-image" %>
        <div class="middle">
          <div class="project-info">
            <h3><%= project.title %></h3>
            <p><%= project.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="contact">
  <h2 class="title">Contact</h2>
  <h4>Let's talk about your project.</h4>
  <a class="email" href="mailto:math.thibaud@gmail.com" target="_blank">math.thibaud@gmail.com</a>
</div>

<div class="footer">
  <a href="https://www.linkedin.com/in/mathiasthibaud/" target="_blank"><i class="fab fa-linkedin"></i></a>
  <a href="https://github.com/ma-thibaud" target="_blank"><i class="fab fa-github-square"></i></a>
</div>
