<div class="banner-content">
  <div>
    <h1>Hi, I'm <span class="special-word">Mathias</span></h1>
    <h1>Web Developer</h1>
    <h4>I create modern and responsive Web Applications.</h4>
  </div>
  <a class="button-blue" href="mailto:math.thibaud@gmail.com"><i class="fas fa-envelope pr-2"></i>MESSAGE ME</a>
</div>

<div class="work">
  <h2 class="title">Work</h2>
  <h4>Coming soon.</h4>
</div>

<div class="contact">
  <h2 class="title">Contact</h2>
  <h4>Let's talk about your project.</h4>
  <a class="email" href="mailto:math.thibaud@gmail.com">math.thibaud@gmail.com</a>
</div>

<div class="footer">
  <a href="https://www.linkedin.com/in/mathiasthibaud/" target="_blank"><i class="fab fa-linkedin"></i></a>
  <a href="https://github.com/ma-thibaud" target="_blank"><i class="fab fa-github-square"></i></a>
</div>
